.app-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FAF9F6;
    max-width: 1000px;
    margin: 2em;
    border: 2px solid #FAF9F6;
    border-radius: 15px;
  }
  
  .form-section {
      display: flex;
      flex-direction: column;
      gap: 30px;
      flex: 1;
      padding: 20px;
  }
  
  .form-preview {
      display: flex;
      width: 100%;
      gap: 10px;
      border-bottom: 2px solid #FAF9F6;
  }

  .app-title {
    padding: 20px;
    text-align: center;
  }

  .divider {
    width: 2px;
    background-color: #FAF9F6;
  }